#!/usr/bin/make -f
# -*- makefile -*-
export DH_VERBOSE=1

# in doc dir ,make will be failed.

%:
	dh  $@

override_dh_auto_configure:
	cp -r debian/CMakeLists/CMakeLists.txt debian/CMakeLists/config-ns.h.cmake debian/CMakeLists/cmake .
	cp debian/CMakeLists/CMakeLists.txt-setdest indep-utils/cmu-scen-gen/setdest/CMakeLists.txt
	cp debian/CMakeLists/CMakeLists.txt-webtrace-conv-dec indep-utils/webtrace-conv/dec/CMakeLists.txt
	cp debian/CMakeLists/CMakeLists.txt-webtrace-conv-epa indep-utils/webtrace-conv/epa/CMakeLists.txt
	cp debian/CMakeLists/CMakeLists.txt-webtrace-conv-nlanr indep-utils/webtrace-conv/nlanr/CMakeLists.txt
	cp debian/CMakeLists/CMakeLists.txt-webtrace-conv-ucb indep-utils/webtrace-conv/ucb/CMakeLists.txt
	dh_auto_configure -Scmake

override_dh_strip:
	dh_strip --dbg-package=ns2-dbg

override_dh_auto_test:
	#it takes too long time.

override_dh_installchangelogs:
	dh_installchangelogs CHANGES.html

dfsg-orig:
	cd ..; \
	TAR_NAME=`ls ns2_2.*.orig.tar.gz`; \
	tar xzf $$TAR_NAME; \
	rm ns-2.*/indep-utils/model-gen/crl_to_pcap; \
	rm ns-2.*/indep-utils/model-gen/output_format.pdf; \
	rm ns-2.*/indep-utils/model-gen/trace_processing.pdf; \
	rm ns-2.*/wpan/WPAN_ZBR_pub.pdf; \
	chmod a-x ns-2.*/tcl/test/test-sack; \
	tar Jcf `echo $$TAR_NAME| sed s/.orig.tar.gz/+dfsg.orig.tar.xz/g` ns-2.*/; \
	rm -rf ns-2.*
